/*
 *  Coding by Yuto
 */

body {
	font-family: ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmƒSƒVƒbƒN@Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r@‚oƒSƒVƒbƒN', 'MS Gothic', sans-serif;
	background-color: #66ccff;
	text-shadow: 1px 1px 3px #000;
}

.main {
	width: 80%;
	margin: 0 auto; 
}
.center { text-align: center; } 
#center{ text-align: center; }
.centerbox { margin: 0 auto; }
.right { text-align: right; } 
#right { text-align: right; }
.left { text-align: left; }
#left { text-align: left; }
.solid { border: solid 1px #000; padding: 5px 5px 5px 6px; }

#execButton { margin: 5px -10px 5px 100%; } 
/*
#voltage {
	width: 50%;
	margin: 0 auto;
	border: solid 1px #000;
	text-align: left;
}*/
#graph {
	width : 100%;
	height : 400px;
	margin 20px auto;
}
.graph-title {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:50px 0 0;
}

#canvas {
	width:100%;
	height:400px;
	margin: 0 auto;
}


